body{
    background-color: azure
}

h1{
    text-align: center;
    font-family: sans-serif
}

img{
    height: 45px;    
}

b{
    border-top: 5px dotted rgba(5,5,5,0.7);
}

#box{
    text-align: center;
}
.container{
    margin-top: 30px;
    text-align: center;
    background-color: aliceblue;
}

#player1-track {
    background-color: lavender;
    height: 500px;
    width: 50px;
    
    display: inline-block;
    text-align: center;
}

#player2-track{
    background-color:aquamarine;
    height: 500px;
    width: 50px;
    
    margin-left: auto;
    display: inline-block;
    text-align: center;
}

.cell{
    height:45px;
    border: 1px solid rgba(63, 65, 191, 0.1);;
    line-height: 45px;
}

.hidden{
    display: none;
}


